.my.cnf
.bash_history
.ssh/
*.pem
*.key

suckless/**/*.o
suckless/**/dwm
suckless/**/st
suckless/**/dmenu
suckless/**/stest
suckless/**/dwmblocks

*.swp
*~
.netrwhist
.DS_Store

node_modules/
__pycache__/
.venv/
